.uncompleted {
  margin-left: 2rem;
}

.button {
  height: 3rem;
  width: 9rem;
  background: rgb(24, 9, 156);
  color: rgb(138, 136, 150);
  border-radius: 10px;
  cursor: pointer;
}

.banner {
  font-style: oblique;
  margin: 2rem;
}

.input {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
}

.plus {
  width: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.completedBtn {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(24, 9, 156);
  color: rgb(138, 136, 150);
  margin: 2rem;
  width: 25%;
  cursor: pointer;
}

.block {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.header {
  background-color: rgb(138, 136, 150);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.inputForm {
  margin-left: 2rem;
}

.msg {
  color: green;
  margin-left: 2rem;
}

.app-login-1 {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.login-wrapper {
  min-height: 200px;
  min-width: 300px;
  background: #fff;
  padding: 20px;
  border-top: 5px lightblue solid;
  color: #000;
}

.login-input button {
  background: lightblue;
  display: block;
  width: 100%;
  height: 50px;
}

.login-input input {
  display: block;
  padding: 20px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 40px auto;
  width: 300px;
  padding: 0;
  color: black;
}

ul li {
  display: inline-block;
  margin: 10px;
  color: black;
}

a {
  color: #fff;
  text-decoration: none;
}

.log-in-link {
  background: black;
  color: white;
}
